.reg-radio-input-item-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reg-radio-input-wrapper {
    display: flex;
    gap: 10px;
    flex-grow: 1;
}

.reg-radio-label {
    position: absolute;
    cursor: pointer;
    text-align: left;
    width: 100%;
    height: 100%;
}

